<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>849844226019-oelnjnpbtlnacarert3a5d7vt23ff9su.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.849844226019-oelnjnpbtlnacarert3a5d7vt23ff9su</string>
	<key>API_KEY</key>
	<string>AIzaSyAQw3w13Ej5VR6vVGHD1BHP8RORizdwczM</string>
	<key>GCM_SENDER_ID</key>
	<string>849844226019</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.login</string>
	<key>PROJECT_ID</key>
	<string>test-1b5bc</string>
	<key>STORAGE_BUCKET</key>
	<string>test-1b5bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:849844226019:ios:7738fe742be9f442</string>
	<key>DATABASE_URL</key>
	<string>https://test-1b5bc.firebaseio.com</string>
</dict>
</plist>